<div class="col-6" style="width:100%">
    <h2 class="text-primary">Contact</h2>
    <div class="mt-5 linksDiv">
        <ul>
            <li>
                <a target="_blank" class="links mb-4" href="https://github.com/ThanasisKl"><i class="bi bi-github"></i> &nbsp;&nbsp;ThanasisKl</a>
            </li>
            <li>
                <a target="_blank" class="links mb-4" href="https://www.linkedin.com/in/thanasis-klettas-31b988224">  <i class="bi bi-linkedin"></i> &nbsp;&nbsp;Thanasis Klettas</a>
            </li>
            <li>
                <a target="_blank" class="links mb-4" href="https://www.facebook.com"><i class="bi bi-facebook"></i> &nbsp;&nbsp;Thanasis Klettas</a>
            </li>
        </ul>
    </div>
</div>
