@{
    ViewData["Title"] = "Home Page";
}

<div class="ml-5">
    <h1 class="text-center mt-5" style="color:#0d6efd;letter-spacing:3px;">MyNotes</h1>
    <h4 class="mt-5 mb-3"><span style="border-bottom:solid black 2px;">Project Description</span></h4>
    <p>MyNotes is a web application using the C# framework ASP.NET Core and uses the Model View Controller design pattern. With
        MyNotes you can create an account and log-in to it. You can create,edit,delete and store notes easily. Also you can create notes and
        store them in a specific folder. All the notes are stored to a sql server database. MyNotes project helped me to learn
        the basics of ASP.NET framework.
    </p>
</div>
