html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.type {
    font-size:20px;
}

.links {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1.7em;
}

.linksDiv ul {
    list-style-type: none;
}